.rule .pred {
	width: 20px;
	text-align: right;
}

.rule .succ {
	width: 300px;
}

.rule .prob {
	width: 40px;
}

.rule {
	display: flex;
	margin: 2px 0px 0px 0px;
}

.rule> {
	margin: 0px 5px 0px 0px;
}

input[type="number"] {
	text-align: right;
	width: 100px;
}

.line {
	display: flex;
	flex-direction: row;
}

.line>* {
	margin: 0px 2px 0px 0px;
}

.column {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.column>* {
	margin: 0px 0px 2px 0px;
}

label {
	min-width: 80px;
}

input[type="color"] {
	width: 20px;
	height: 12px;
	border: 0px;
	padding: 0px;
	cursor: pointer;
}